.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-form-2{
    padding: 5%;
    background: #1e202b;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    margin: auto;
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
    text-align: center;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #1e202b;
    background-color: #fff;
    
}

.error{
	display: block;
	color: white;
	text-align: center;
}



